<div class="button-position">
  <button
    class="both-organization"
    (click)="getChangeLightMode()"
    [ngClass]="getThemeClass('both-organization')"
  >
    <div class="vektor-position" [ngClass]="getThemeClass('vektor-position')">
      <img
        class="vektor-img-position"
        [src]="
          isLightMode
            ? '../../assets/images/sun-light-mode.png'
            : '../../assets/images/sun-dark-mode.png'
        "
        alt="Sun"
      />
    </div>
    <div class="moon-position" [ngClass]="getThemeClass('moon-position')">
      <img
        class="moon-img-position"
        [src]="
          isLightMode
            ? '../../assets/images/moon-light-mode.png'
            : '../../assets/images/moon-dark-mode.png'
        "
        alt="Moon"
      />
    </div>
  </button>
  <button class="history-button" (click)="isHistoryActive()">
    <img
      [src]="
        !isLightMode
          ? '../../assets/images/history-dark-mode.png'
          : '../../assets/images/history-light-mode.png'
      "
      alt="History"
    />
  </button>
</div>
