
.button-position{
    display: flex;
    justify-content: center;
    padding-top: 52px;
    margin-right: 34px; 
    border:none;
    height: 44px;
    border: none;
}


.both-organization-light-mode{
    width: 122px;
    height: 100%;
    margin-left: auto;
    border-radius: 40px;
    display: flex;
    align-items: stretch;
    padding: 0;
    background: #A9DCFD;
    border: none;
}

.vektor-position-light-mode{
    background: rgba(216, 238, 255, 1);
    border-radius: 40px;
    flex-grow: 8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.moon-position-light-mode{
    border-radius: 40px;
    flex-grow: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.both-organization-dark-mode{
    width: 122px;
    height: 100%;
    margin-left: auto;
    border-radius: 40px;
    display: flex;
    align-items: stretch;
    padding: 0;
    background: rgba(27, 106, 156, 1);
    border: none;
}

.vektor-position-dark-mode{
    border-radius: 40px;
    flex-grow: 5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.moon-position-dark-mode{
    background: rgba(0, 54, 97, 1);
    border-radius: 40px;
    flex-grow: 8;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.vektor-img-position{
    width: 29.74px;
    height: 29.74px;

}
.moon-img-position{
    width: 29.74px;
    height: 29.74px;
}

.history-button{
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: none;
    padding: 0;
}

