<div class="button-position">
  <button
    class="both-organization"
    (click)="getChangeLightMode()"
    [ngClass]="getThemeClass('both-organization')"
  >
    <div class="vektor-position" [ngClass]="getThemeClass('vektor-position')">
      <img class="vektor-img-position" [src]="getSrc('sun')" alt="Sun" />
    </div>
    <div class="moon-position" [ngClass]="getThemeClass('moon-position')">
      <img class="moon-img-position" [src]="getSrc('moon')" alt="Moon" />
    </div>
  </button>
  <button class="history-button" (click)="isHistoryActive()">
    <img [src]="getSrc('history')" alt="History" />
  </button>
</div>
