<div class="input-grid-root">
  <!-- Mini Inputs Section -->
  <!-- Burada ki hata click eventinin içerisinde ki miniInput.action ile tanımlanmış olan fonsiyon girdileri yüklenirken . -->
  <div class="mini-inputs" [ngClass]="getThemeClass('mini-input')">
    <button
      *ngFor="let action of miniInputActions"
      (click)="action.handler()"
      class="mini-input-buttons"
      [ngClass]="getThemeClass('mini-input-buttons')"
    >
      {{ action.label }}
    </button>
  </div>

  <!--Operator Section-->
  <div class="math-operators" [ngClass]="getThemeClass('math-operators')">
    <ng-container *ngFor="let operator of operators">
      <button
        (click)="getOperator(operator.symbol)"
        class="math-operator-button"
        [ngClass]="getThemeClass('math-operator-button')"
      >
        {{ operator.display }}
      </button>
    </ng-container>
    <button
      (click)="equalityOperator()"
      class="math-equality-operator"
      [ngClass]="getThemeClass('math-equality-button')"
    >
      =
    </button>
  </div>

  <!--Number Section-->
  <ng-container *ngFor="let button of buttons">
    <button
      type="button"
      [ngClass]="getThemeClass('buttons')"
      (click)="getNumber(button)"
    >
      {{ button }}
    </button>
  </ng-container>
  <!--Bar-->
  <div class="bar" [ngClass]="getThemeClass('bar')"></div>
</div>
