*{
    box-sizing: border-box;
}

.main-body{
    margin: auto auto;
    width: 423px;
    border-radius: 40px;
}

header{
    position: relative;
    border-radius: 30px;
    height: 96px;
    width: 100%;
}

main{
    height: 255px;
    width: 100%;  
}

.history-view-light-mode{
    color: black;
}
.history-view-dark-mode{
    color: white;
}

.hidden{
    display: none;
}

footer{
    border-radius: 30px;
}

.footer-light-mode{
    background: linear-gradient(90deg, rgba(183,238,247,1) 0%, rgba(131,212,247,1) 33%, rgba(103,180,250,1) 66%, rgba(83,206,253,1) 100%);
    
}

.footer-dark-mode{
    background: linear-gradient(90deg, rgba(9,25,42,0.9445028011204482) 0%, rgba(33,87,116,1) 33%, rgba(6,100,138,1) 66%, rgba(27,110,145,1) 100%);
    backdrop-filter: blur(0px)

}

.main-body-light-mode{
    background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
}

.main-body-dark-mode{
    background: linear-gradient(166.34deg, #373737 0%, #252628 22.9%, #000309 100%);
}