<div
  class="main-body"
  [ngClass]="{
    'main-body-light-mode': !isDarkMode,
    'main-body-dark-mode': isDarkMode
  }"
>
  <header>
    <app-header
      (modeLightVisulizationEvent)="getChangeLightMode()"
      (historyVisulizationEvent)="historyEvent()"
    />
  </header>
  <main>
    <app-calculation-view-area
      [isEqualityOperatorHidden]="!isEqualityOperatorHidden"
      [currentNumber]="currentNumber ? currentNumber : defaultNumber"
      [calculation]="calculation"
      [isDarkMode]="isDarkMode"
    />
    <div
      *ngFor="let item of lastItems; index as s"
      [class.hidden]="!isHistoryActive"
    >
      <p
        [ngClass]="{
          'history-view-light-mode': !isDarkMode,
          'history-view-dark-mode': isDarkMode
        }"
      >
        Process: {{ lastItems[s].process }} Result: {{ lastItems[s].result }}
      </p>
    </div>
  </main>
  <footer
    [ngClass]="{
      'footer-light-mode': !isDarkMode,
      'footer-dark-mode': isDarkMode
    }"
  >
    <app-calculation-input-area
      (number)="getNumber($event)"
      (AC)="getReset()"
      (operator)="getOperator($event)"
      (calculation)="equalityOperator()"
      (negativeOperator)="getNegative()"
      (asd)="get100()"
      [isDarkMode]="isDarkMode"
    />
  </footer>
</div>
